# About Python

### Python is one of those rare languages which can claim to be both simple and powerful. You will find yourself pleasantly surprised to see how easy it is to concentrate on the solution to the problem rather than the syntax and structure of the language you are programming in

In [45]:
# Contents

# 1. Getting Started
# 2. Variables
# 3. Numbers
# 4. Strings
# 5. Casting
# 6. Operators

## 1. Getting started:
    a. Hello World
    b. Input
    c. Comments

#### a. Hello World!
    Lets print out 'Hello World!'
    When getting started with any language it has become a convention to start with this particular code.

In [3]:
print('Hello codesession')

Hello codesession

In [17]:
print("wellcome to codesesson Academy")

wellcome to codesesson Academy

#### b. Input - input()

In [15]:
name = input("enter your name : ")
number = input("enter a number : ")
print(name,number)
print(name+number)
print(type(number))

enter your name : sanju
enter a number : 3435454
sanju 3435454
sanju3435454
<class 'str'>

In [7]:
'''atridhfjkdgf'''
print("sasdhsfd")

sasdhsfd

In [13]:
x= "10"+"dsf"
'''prinfds'''
print("sasads",x)

sasads 10dsf

In [17]:
x=input("Enter your age: ") #taking input from the user
print("your age is ",x)

Enter your age: 21
your age is  21

#### c. Comments

In [15]:
# This is a comment

In [18]:
'''x=hello world'''
print(x)

21

In [6]:
# Multi line strings

'''Python will ignore string literals that are not assigned to a variable,
you can add a multiline string (triple quotes) in your code,
and place you comment inside it:'''

x  = '''hello
world'''

In [2]:
x =  "python is a object orinted programming langauge"

print(x)

python is a object orinted programming langauge

## 2. Variables
    a. Variable Names
    b. Basic Datatypes

In [3]:
x = 20
type(x)      
'hi hello world'

# y = 'Aditya'
# print(type(y))

'hi hello world'

In [4]:
x = 1 + 2j
print(type(x))

<class 'complex'>

In [5]:
a = True
type(a)

bool

#### a. Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, car_name, total_volume).

Rules for Python variables:

    A variable name must start with a letter or the underscore character

    A variable name cannot start with a number

    A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

    Variable names are case-sensitive (age, Age and AGE are three different variables)

In [5]:
age = 10
Age = 20
AGE = 30
print(age,',',Age,',',AGE)

10 , 20 , 30

In [34]:
a = 20
b = 30
c = 40
x=a+b+c
print(x)

90

In [47]:
number_1 = input("enter number 1:")
number_2 = input("enter number 2 :")
number_3 = input("enter number 3 :")

number=int(number_1)
number1 = int(number_2)
print(type(number))
print(type(number_3))
x=number+number1

print(x)
print(type(x))

enter number 1:21
enter number 2 :21
enter number 3 :21
<class 'int'>
<class 'str'>
42
<class 'int'>

In [28]:
# Multiple Assigning

a, b, c,D = "Orange","Banana" ,"Cherry","apple"
y = 'pinapple'
z = "order"
a = 'sanju'


print(a,',', b,',',c,',',D)
# print(y)
# print(z)

sanju , Banana , Cherry , apple

In [31]:
b = "Sanju"
a = "nitin"
print(a,b)

nitin Sanju

In [15]:
_sanu = "sanju"
print(_sanu)

sanju

In [42]:
# Assigning same value to multiple variables

x = y = z = "orange"
print(x+y+z)
print(y)
print(z)

orangeorangeorange
orange
orange

In [17]:
# + operator
x = 17
y = 3
c = (x+y)
print("the sum is",c)

the sum is 20

In [20]:
a = 32133
b = 200.0
c = a+b
print(c)

32333.0

In [22]:
x = "Hi "
y = "How "
z = "are "
w = "you? "
a = x+y+z+w
print(a)

Hi How are you?

In [36]:
a = '10'
b = '20'
print(a+b)

1020

In [5]:
# for strings, + works as a combining operator

x = "Python is "
y = "awesome"
z =  x + y
print(x + y)

Python is awesome

In [55]:
# for numbers, + works as an addition operator

x = 5
y = 10
print(x + y)

15

In [27]:
x = None
y = None

print(type(x))

<class 'NoneType'>

#### b. Basic Datatypes

In [41]:
# Basic Datatypes:

a = 323
b = 232
c = 10.52
h = complex(a,b)
d = 10 + 20j
e = False    #In case boolean datatype you have to start with capital case
print(int(e))
f = -3232
print(type(a))
print(type(h))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

0
<class 'int'>
<class 'complex'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'int'>

In [49]:
a = 212212
b =434+323j
c = a+b
print(c,type(c))

e = 2323
f = 23424.3
g = e+f
print(g,(g))

(212646+323j) <class 'complex'>
25747.3 <class 'float'>

In [5]:
a = "10"
b = "20" 
c= "True"
d = a+b+c
print(d)

1020True

## 3. Numbers
    a. int
    b. float
    c. complex

In [7]:
'''There are three numeric types in Python:
    int, float and complex
    Variables of numeric types are created when you assign a value to them'''

x = 1    # int
y = 2.8  # float
z = 1 + 1j   # complex

'''To verify the type of any object in Python, use the type() function:'''

# type(variable_name)
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#### a. Integer

In [16]:
'''Integer'''

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### b. Float

In [11]:
'''Float'''

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

'''Float can also be scientific numbers with an "e" to indicate the power of 10.'''

x = 35e6
y = 12e4
z = -87.7e100

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>
35000000.0
120000.0
-8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

#### c. Complex

In [11]:
'''Complex'''
'''Complex numbers are written with a "j" as the imaginary part'''

x = 3+5j
y = 5j
z = -5j
w = 0+3434.443j
print(x, type(x))
print(y, type(y))
print(z, type(z))
print(w,type(w))

print(x, y, z ,w)

(3+5j) <class 'complex'>
5j <class 'complex'>
(-0-5j) <class 'complex'>
3434.443j <class 'complex'>
(3+5j) 5j (-0-5j) 3434.443j

In [16]:
x = False
print(type(x))

str
int
float
complex
bool

<class 'bool'>

bool

## 4. Strings
    a. Strings
    b. Indexing in Strings
    c. String Methods/Functions
    d. Sring Formatting

#### a. Strings

In [62]:
'''this is 
comment section'''
a = """sanju well
come 
here"""
print(a)

b = '''sannju saini'''
print(b)
str1 = "sanju codesession"
print(str1)

sanju well
come
here
sannju saini
sanju codesession

In [59]:
'''double quotes use in single quotes'''
a = 'welcome to "codesession academy"'
print(a)

welcome to "codesession academy"

In [15]:
"""single quotes use inside double quotes"""
b = "welcome to 'codesession academy'"
print(b)

welcome to 'codesession academy'

In [68]:
c = "hello world \n sanju it developer"
print(c)

hello world
 sanju it developer

In [21]:
#raw string
a = r"sanju how are you \n fine"
print(a)

sanju how are you \n fine

In [79]:
b = 'Hi\jHello'
print(b)

Hi\jHello

In [87]:
a = "''sanj''"
print(a)

''sanj''

In [92]:
h = 'hello '
h = 'hi'' world'
g = "hello world"
print(h)
print(g)

hi world
hello world

In [17]:
# Multiline string

a = '''Hi 
my
name
is 
Aditya'''

print(a)

Hi
my
name
is
Aditya

#### b. Indexing in Strings

In [7]:
# Accessing a letter in a string
#index represents the position number of character in string.
a = "hi how are you"
# 123456789  
print(len(a))
# print(a[11])
# print(a[12])
# # Substring. Get the characters from position 2 to position 5 (not included):
print("string=",a[0:11])
print(a[8])
print(a[11])
# # getting a range of characters
print("range=",a[0:14:4])
# # [starting_point : ending point : step]
# # # step - 2, 3
# print(a[::2])

14
string= hi how are
r
y
range= horo

#### c. String methods/functions
    Lets see some of useful methods/functions which can be used on strings

In [116]:
#The len() method returns the length of a string:

a = "Hello hi"
print(len(a))

8

In [119]:
#The lower() method returns the string in lower case:

a = "HELLO, WORLD!"
print(a.lower())

hello, world!

In [120]:
# The upper() method returns the string in upper case:

a = "hello, world!"
print(a.upper())

HELLO, WORLD!

In [124]:
# The strip() method removes any whitespace from the beginning or the end:

a = "   Hello, World!   "
print(a.strip())        # returns "Hello, World!"

Hello, World!

In [130]:
a = "   Hello, World!   "
b = "HI"
print(a.lstrip()+b)

Hello, World!   HI

In [131]:
a = "sanju"
b = "saini"
print(a+b)

sanjusaini

In [133]:
# The replace() method replaces a string with another string:

a = "Hello, World!, World, World"
print(a.replace("World", "codesesssion"))

Hello, codesesssion!, codesesssion, codesesssion

In [135]:
# The split() method splits the string into substrings if it finds instances of the separator:

string = 'Hello World!'
x = string.split('l')
print(x)    # returns ['Hello', ' World!']

['He', '', 'o Wor', 'd!']

In [136]:
# Capitalize():

a = 'hyyy,hello world'
a.capitalize()

'Hyyy,hello world'

#### d. String Formatting
    Lets see the various ways of formatting what you print out

In [14]:
a = "welcome to codesession academy"
b= 20
c= 30
print("Hii",a,b,"thanks")
print(f"Hyy {a} {b} thanks")

Hii welcome to codesession academy 20 thanks
Hyy welcome to codesession academy 20 thanks

In [40]:
x = "This article {1} is written in {0} {2} "
print (x.format("HI","anju",21))


print("codesessoin is live {2} {1} {0}".format("instagram","and","facebook"))

This article anju is written in HI 21
codesessoin is live facebook and instagram

In [64]:
a='Hi how are you'
print(type(a))
print("I'm  %s  %i from codesession  academy" %("sanju",10))
print(a)

<class 'str'>
I'm  sanju  10 from codesession  academy
Hi how are you

In [59]:
print("I'm %s from %s %s %.2f" %('sanju','codesession','hi',a))

I'm sanju from codesession hi 10.00

In [65]:
x, y,z,w = 'sanju', 'codesession' ,10 ,11
print("I'm %s from %s %s %s "%(x,y,z,w))

I'm sanju from codesession 10 11

In [19]:
print('My name is %s' %'codesession')
print('My name is %s' %'"Academy"')  #string representation

My name is codesession
My name is "Academy"

In [82]:
a = 32.2
print(type(a))
print('I wrote %i programs today.' %a)
print('I wrote %f programs today.' %4)
print('I wrote %.2fprograms today.' %4.5678)

<class 'float'>
I wrote 32 programs today.
I wrote 4.000000 programs today.
I wrote 4.57programs today.

## 5. Casting

There may be times when you want to specify a type on to a variable.
This can be done with casting. Python is an object-orientated language,
and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number).
        
2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer).
          
3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals'''

In [2]:
a1 = '10'
print(type(a1))
a = int(a)
b = 20
c=(a+b)
print(c)   # Will throw an error

<class 'str'>

NameError: name 'a' is not defined

In [8]:
x = input("enter a number : ")
z = int(x)
y = float(z)

print(x)
print(y)

enter a number : 21
21
21.0

In [9]:
# Integer Casting - int()

x = int(1)          # x will be 1
y = int(2.8)        # y will be 2
z = int("3")        # z will be 3

print(x)
print(y)
print(z)
print(type(z),'\n', type(x),'\n', type(y))

1
2
3
<class 'int'>
 <class 'int'>
 <class 'int'>

In [89]:
# Float Casting - float()

x = float(1)        # x will be 1.0
y = float(2.8)      # y will be 2.8
z = float("3")      # z will be 3.0
w = float("4.2")    # w will be 4.2

print(x,'\n',y, '\n',z,'\n', w)      # '\n is used for new line'

print(type(x), type(y), type(z), type(w) )

1.0
 2.8
 3.0
 4.2
<class 'float'> <class 'float'> <class 'float'> <class 'float'>

In [92]:
# String Casting - str()

x = str('s1')      # x will be 's1'
y = str(2)         # y will be '2'
z = str(3.0)       # z will be '3.0'
w = str(1 + 2j)

print(x, type(x))
print(y, type(y))
print(z, type(z))
print(w,type(w))

s1 <class 'str'>
2 <class 'str'>
3.0 <class 'str'>
(1+2j) <class 'str'>

## 6. Operators

Python Operators:

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

    a. Arithmetic operators
    b. Assignment operators
    c. Comparison operators
    d. Logical operators
    e. Identity operators
    f. Membership operators

#### a. Arithmetic operators
    
    Arithmetic operators are used with numeric values to perform common mathematical operations:

In [34]:
'''
+	Addition	x + y	

-	Subtraction	x - y	

*	Multiplication	x * y	

/	Division	x / y	

%	Modulus	x % y	

**	Exponentiation	x ** y	

//	Floor division	x // y '''

number_1 = input(" enter your first number : ")
number_2 = input(" enter your second number : ")
a = int(number_1)
b = int(number_2)
c=a+b
d=a-b
e=a/b
f=a%b
g=a//b
h=a**b
i = a*b
j = 1237.0//23.4
print(f"addition of c is = {c}  substraction of d is = {d} ")
print(f"division of e is = {e}")
print(f"modules of f is = {f}")
print(f"floor division of g is = {g}")
print(f" Exponentiation of h is = {h}")
print(f" multiple of {a} and {b} is = {i}")
print(j)
# print(14*14*14*14*14)
# print(c,d,e,f,g,h)

 enter your first number : 21
 enter your second number : 3
addition of c is = 24  substraction of d is = 18
division of e is = 7.0
modules of f is = 0
floor division of g is = 7
 Exponentiation of h is = 9261
 multiple of 21 and 3 is = 63
52.0

#### b. Python Assignment Operators

    Assignment operators are used to assign values to variables:

In [38]:
'Basic assignment operator is =  '

num = 10
name = "codesession"
name1 = "sanju"
print(f"{num} {name} {name1}")

10 codesession sanju

In [27]:
''' 1.       =       x = 5       x = 5
    2.      +=      x += 5      x = x + 5
    3.      -=      x -= 3      x = x - 3
    4.      *=      x *= 3      x = x * 3
    5.      /=      x /= 3      x = x / 3
    6.      %=      x %= 3      x = x % 3
    7.      //=     x //= 3     x = x // 3
    8.      **=     x **= 3     x = x ** 3

Try it out:
'''
x= 10
y =2
x += y
print(x)
x *= y
print(x)
x /=y
print(x)

12
24
12.0

#### c. Python Comparison Operators

    Comparison operators are used to compare two values:

In [28]:
a = 10
b = 10

'When we say a==b, it is basically asking the question --  is a equal to b?'
print(a==b)   
print(a!=b)
print(a<=b)
print(a>=b)

True
False
True
True

In [32]:
a = 43434534
b = 4243535433453
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [38]:
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y'''

print('\n')


x = 10
y = 20
z = 30

print(x>y,'\n')

'Comparison Operators are mostly used in Conditional Statements'

if x>y and x>z :
    print('x is greatest')
elif y>x and y>z:
    print('y is greatest')
elif z>x and z>y:
    print('z is greatest')

False

z is greatest

#### d. Python Logical Operators

    Logical operators are used to combine conditional statements:

In [19]:
'''and  	Returns True if both statements are true                    	x < 5 and  x < 10

   or   	Returns True if one of the statements is true               	x < 5 or x < 10
   
   not  	Reverse the result, returns False if the result is true     	not(x < 5 and x < 10)'''

a = 25
b = 20
c = 30

print (not(a>b or a>c))

False

#### e. Python Identity Operators

    Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [21]:
'''is       	Returns true if both variables are the same object      	x is y'''

x = 10
y = 20

print(x is y)

'''is not   	Returns true if both variables are not the same object  	x is not y'''

x = 10
y = 20
print(x is not y)
print('\n')

False
True

#### f. Python Membership Operators
    
    Membership operators are used to test if a sequence is presented in an object:

In [44]:
'''in       	Returns True if a sequence with the specified value is present in the object    	x in y'''

l = [1, 2, 3, 4]    # List, will see in collection datatypes
e = 5
print(e in l)
print('\n')


'''not in   	Returns True if a sequence with the specified value is not present in the object	x not in y'''

l = [1, 2, 3, 4]
e = 2
print(e not in l)
print('\n')

False


False