In [2]:
# python print function 
print("Hello every one ")

Hello every one

In [2]:
# variable :- variable are contaniner for storing data values.
a="kamlesh"
print(a)

kamlesh

In [4]:
a="kamlesh"
b="kumar"
c=a+b
print(c)

kamleshkumar

In [7]:
q="54"
d="25"
a=q+d
print(a)

5425

In [11]:
# input function in python
a=input('enter your name:')
print("your name is:-",a)

enter your name:kamlesh
your name is:- kamlesh

In [12]:
a=input("enter your frist  number : ")
b=input("enter your second number : ")
c=a+b
print("your number is :-",c)

enter your frist  number : 25
enter your second number : 45
your number is :- 2545

In [14]:
a=int(input('enter your frist number : '))
b=int(input('enter your second number : '))
c=a+b
print("your number sum is :- ",c)

enter your frist number : 58
enter your second number : 489
your number sum is :-  547

In [17]:
#multiple assigning variable in python
a,b,c,d="kamlesh","kumar","prajapat","jaipur"
#print(a)
#print(b)
print(c)
print(d)

prajapat
jaipur

In [20]:
#single line comment in python use the #tag.
print("Hello every one")
#print("Good morning")

Hello every one

In [27]:
# multi line comment in python use the ''' '''.
'''
Hi 
how are you
i am fine

'''
print("Hello World")

Hello World

In [29]:
# how to write string in '' in program 
a="Hello every i am' kamlesh kumar prajapat' "
print(a)

Hello every i am' kamlesh kumar prajapat'

In [31]:
# how to write string in "" in program
a='Good morning every "how are you "'
print(a)

Good morning every "how are you "

In [33]:
# how to write in multiline in program.
a=''' Hello guy`s 
i am kamlesh kumar prajapat
i from jaipur in rajasthan (india)
'''
print(a)

 Hello guy`s
i am kamlesh kumar prajapat
i from jaipur in rajasthan (india)

In [35]:
x="""Good morning everyone
my name is kamlesh kumar prajapat 
 i from jaipur in rajasthan.
 i have done diploma in computer secience engg. in 2019 with 68% marks.
 And with clear B.A in 2019 with 66$ marksfrom rajasthan university.
 We are seven member in my family.
 We are three brother and two sister.
 My father a farmar.
 Me learn python programing in present time
          thank you so much 
                               date :- 29\08\2020"""
print(x)

Good morning everyone
my name is kamlesh kumar prajapat
 i from jaipur in rajasthan.
 i have done diploma in computer secience engg. in 2019 with 68% marks.
 And with clear B.A in 2019 with 66$ marksfrom rajasthan university.
 We are seven member in my family.
 We are three brother and two sister.
 My father a farmar.
 Me learn python programing in present time
          thank you so much
                               date :- 29 8Â‚0

In [38]:
# new line tn program.
a="Hello everyone \ni am kamlesh kumar prajapat"
print(a)

Hello everyone
i am kamlesh kumar prajapat

In [42]:
# new line and space in programe.
a="Hello every one \nmy name is kamlesh kumar prajapat \n\ti from jaipur in rajathan."
print(a)

Hello every one
my name is kamlesh kumar prajapat
	i from jaipur in rajathan.

In [44]:
# how to use row string in program.
a=R"hello every \n one"
print(a)

hello every \n one

In [58]:
#indexing in string :-represent of string value 
# start index in python in 0123456789
a='how are you  i am fine'
print(len(a))
print(a[21])

22
e

In [60]:
#string function
#lower function
a="KAMLESH KUMAR PRAJAPAT"
print(a.lower())

kamlesh kumar prajapat

In [62]:
#upper function
a="kamlesh kumar prajapat"
print(a.upper())

KAMLESH KUMAR PRAJAPAT

In [65]:
#split function
a="how are you"
print(a.split())

['how', 'are', 'you']

In [80]:
#lsplit function
a='i am kamlesh '
b='kumar prajapat'
print(a.lstrip()+b)

i am kamlesh kumar prajapat

In [83]:
#replace function
a="hell boss how are you"
print(a.replace("hell boss","Good morning"))

Good morning how are you

In [85]:
#split function
a="okamlesh okumar oprjapat"
c=a.split("o")
print(c)

['', 'kamlesh ', 'kumar ', 'prjapat']

In [90]:
#capitalize
a="kamlesh kumar prajapat"
a.capitalize()

'Kamlesh kumar prajapat'

In [5]:
# string formating
x="this  laptop honor name {1} this is work on {0} {2}"
print(x.format("linux","kamlesh ","window"))

this  laptop honor name kamlesh  this is work on linux window

In [8]:
print("kamlesh kumar is going to {} {} {}".format("Aagra","and","Dausa"))

kamlesh kumar is going to Aagra and Dausa

In [21]:
print("i`m %s %sform codesisson acadmy my age is %i and my marks is %2f"%("kamlesh"," kumar ",25 ,90.36))

i`m kamlesh  kumar form codesisson acadmy my age is 25 and my marks is 90.360000

In [22]:
a="kamlesh"
print("Hii i`m",a,"kumar")

Hii i`m kamlesh kumar

In [30]:
a,b,c,d,='kamlesh','kumar','prajapat','bhudla'
print("i`m %s %s %s %s" %(a,b,c,d))

i`m kamlesh kumar prajapat bhudla

In [32]:
print("my name is %s"%("kamlesh"))

my name is kamlesh

In [49]:
#casting :- change formate
#intger casting
x=int(58)
y=int(20.5)
z=int("32")
print(x)
print(y)
print(z)

58
20
32

In [2]:
#float casting
x=float(25)
y=float("205")
z=float(20.32)
print(x,'\n',y,'\n',z)

25.0
 205.0
 20.32

In [3]:
#calculater in use Airthmetic opearter 
'''
+     addition        x+y
-     subtraction     x-y
*     multiplication  x*y
/     division        x/y
**    Exponentiation  x**y
//    floor devision  x//y
%     modul           x%y
'''

number_1 = int(input('Please enter the first number: '))
number_2 = int(input('Please enter the second number: '))
a=number_1
b=number_2
c=a+b
d=a-b
e=a*b
f=a/b
g=a//b
h=a**b
i=a%b
print(F"addition {c}")
print(f"subtraction {d}")
print(f"multiplacation {e}")
print(f"devision {f}")
print(f"floor devision {g}")
print(f"Exponentiation {h}")
print(f"modual {i}")

Please enter the first number: 36
Please enter the second number: 36
addition 72
subtraction 0
multiplacation 1296
devision 1.0
floor devision 1
Exponentiation 106387358923716524807713475752456393740167855629859291136
modual 0

In [4]:
# Assignment operator
''' 1.       =       x = 5       x = 5
    2.      +=      x += 5      x = x + 5
    3.      -=      x -= 3      x = x - 3
    4.      *=      x *= 3      x = x * 3
    5.      /=      x /= 3      x = x / 3
    6.      %=      x %= 3      x = x % 3
    7.      //=     x //= 3     x = x // 3
    8.      **=     x **= 3     x = x ** 3
'''
a="kamlesh"
b=544
print(a,b)

kamlesh 544

In [5]:
x=5
y=45
x += y
print(x)

50

In [7]:
# comparision operator
'''==   	Equal                       	x == y

   !=   	Not equal                   	x != y
   
   >    	Greater than                	x > y
   
   <    	Less than                   	x < y
   
   >=   	Greater than or equal to    	x >= y
   
   <=   	Less than or equal to       	x <= y
    '''
# equal
a=5
b=5
print(a==b)

True

In [9]:
# not equal
a=5
b=5
print(a!=b)

False

In [10]:
# equal less than
a=10
b=10
print(a<=b)

True

In [12]:
#  equal grater than
a=2
b=5
print(a>=b)

False